<section id="details" class="flex flex-col bg-pastelOrange p-3">
  <div class="flex justify-center w-full">
    <h1 class="font-main text-2xl mb-4">
      Details
    </h1>
  </div>
  <div class="flex justify-between w-full">
    <%= image_tag "invitation.png", class: 'w-full'%>
  </div>
  

</section>