<div id="loading_screen" class="<%= 'opacity-0 translate-y-[-50px]' if current_page?(root_path) %> w-screen ">
  <div class="flex justify-center">
    <div class="flex flex-col items-center pt-8">
      <%= image_tag "logo_black.png", class: "w-24" %>
      <br/>
    </div>
  </div>
</div>
