<div data-controller="parish-map reception-map" class="pt-8 flex flex-col justify-center items-center font-main gap-12">
  <div class="w-full flex flex-col items-center">
    <div class="flex flex-col items-center justify-center pb-8 gap-4">
      <h1 class="text-3xl uppercase">Ceremony</h1>
      <p class="text-center"><strong>Parish of Immaculate Heart of Mary (Diocese of Antipolo)</strong><br/> Daang Bakal Road, Antipolo, Calabarzon, 1870, Philippines</p>
    </div>
    <div data-parish-map-target="map" style="height: 500px; width: 50%;"></div>
  </div>
  
  <div class="w-full flex flex-col items-center">
    <div class="flex flex-col items-center justify-center pb-8 gap-4">
      <h1 class="text-3xl uppercase">Reception</h1>
      <p class="text-center"><strong>Sitio Elena Events Venue</strong><br/>3B Sitio Elena Events Venue Don Celso Tuazon Ave Valley Golf Ortigas Ext., Cainta</p>
    </div>
    <div data-reception-map-target="map" style="height: 500px; width: 50%;"></div>
  </div>
  
 
  
</div>