<div data-controller="parish-map reception-map" class="pt-8 flex flex-col justify-center items-center font-main gap-12 pb-8">
  <div class="w-full flex flex-col items-center">
    <div class="flex flex-col items-center justify-center pb-8 gap-4">
      <h1 class="text-3xl uppercase">Ceremony</h1>
      <p class="text-center"><strong class="text-lg">Parish of Immaculate Heart of Mary <br class="lg:hidden">(Diocese of Antipolo)</strong><br>
      <span class="text-sm lg:text-base">Daang Bakal Road, Antipolo</span></p>
    </div>
    <div data-parish-map-target="map" class="h-[500px] w-[90%] lg:w-[50%]"></div>
  </div>

  <div class="w-full flex flex-col items-center">
    <div class="flex flex-col items-center justify-center pb-8 gap-4">
      <h1 class="text-3xl uppercase">Reception</h1>
      <p class="text-center px-3 lg:px-0"><strong class="text-lg">Sitio Elena Events Venue</strong><br><span class="text-sm lg:text-base">3B Sitio Elena Events Venue Don Celso Tuazon Ave Valley Golf Ortigas Ext., Cainta</span></p>
    </div>
    <div data-reception-map-target="map" class="h-[500px] w-[90%] lg:w-[50%]"></div>
  </div>

</div>
