<div class='w-full flex justify-center mt-12'>
  <div class='flex flex-col gap-2 font-main justify-center items-center'>
    <h1 class='text-[24px] lg:text-3xl lg:text-2xl'>Scan now to RSVP</h1>
    <%= link_to "https://docs.google.com/forms/d/e/1FAIpQLSdCGNuBJBbVMcxWTN4c5Mt6SjRRyRiOcepBu1ZxvzGKo51uqQ/viewform?usp=dialog" do %>
      <%= image_tag 'qr_code.png', class: 'h-[200px] w-[200px]' %>
    <% end %>
    <p>Or click on the code</p>
  </div>
</div>
