<div class="flex flex-col gap-12 items-center justify-center lg:py-8 h-[450px] lg:h-full">
  <h1 class="text-[24px] lg:text-4xl font-main">Pre-Wedding Video</h1>
  <iframe class="w-full h-[200px] lg:w-[70%] lg:h-[600px] " src="https://www.youtube.com/embed/VBP9GT1Lgi4?autoplay=1&loop=1&autopause=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>