<div data-controller="slider" class="relative h-screen overflow-hidden" data-action="touchstart->slider#start touchmove->slider#move touchend->slider#end mousedown->slider#start mousemove->slider#move mouseup->slider#end">
  <div data-slider-target="scrollContainer" class="h-full overflow-y-auto">
    <!-- Overlay for Closing Menu -->
    <div
      data-slider-target="overlay"
      data-action="click->slider#closeMenu"
      class="fixed inset-0 bg-black bg-opacity-50 z-20 transition-opacity duration-300 hidden"
    ></div>

    <!-- Slide-in Menu -->
    <nav
      data-slider-target="menu"
      class="fixed top-0 left-0 z-30 w-64 h-full bg-darkPink text-white transform -translate-x-full transition-transform duration-300 ease-in-out"
    >
      <div class="p-4 text-lg font-semibold">Menu</div>
      <ul class="space-y-4">
        <li><a href="#our_story" class="block py-2 px-4 hover:bg-pastelPink hover:text-gray-800 rounded" data-controller="scrollId" data-action="click->scrollId#scrollTo">Our Story</a></li>
        <li><a href="#invitation" class="block py-2 px-4 hover:bg-pastelPink hover:text-gray-800 rounded" data-controller="scrollId" data-action="click->scrollId#scrollTo">Invitation</a></li>
        <li><a href="#entourage" class="block py-2 px-4 hover:bg-pastelPink hover:text-gray-800 rounded" data-controller="scrollId" data-action="click->scrollId#scrollTo">Entourage</a></li>
        <li><a href="#details" class="block py-2 px-4 hover:bg-pastelPink hover:text-gray-800 rounded" data-controller="scrollId" data-action="click->scrollId#scrollTo">Details</a></li>
        <li><a href="#location_section" class="block py-2 px-4 hover:bg-pastelPink hover:text-gray-800 rounded" data-controller="scrollId" data-action="click->scrollId#scrollTo">Location</a></li>
      </ul>
    </nav>

    <%= yield %>
  </div>
</div>
